config:
  raw.idmap: both 1000 1000
  user.user-data: |
    #cloud-config
    runcmd:
      - [ systemctl, disable, --now, snapd, snapd.socket ]
    packages:
      - git
      - mercurial
      - yadm
      - build-essential
description: CLI LXD profile
devices:
  eth0:
    nictype: macvlan
    parent: enp5s0
    type: nic
name: cli
used_by:

