{{ define "main" }}
<section class="section container-fluid mt-n3 pb-3">
  <div class="row justify-content-center">
    <div class="col-lg-12 text-center">
      <h1 class="mt-0">{{ .Title }}</h1>
    </div>
    <div class="col-lg-9 col-xl-8 text-center">
      <p class="lead">{{ .Params.lead | safeHTML }}</p>
      <a class="btn btn-primary btn-lg px-4 mb-2" href="{{ "docs/prologue/introduction/" | relURL }}" role="button">Get started</a>
      <p class="meta">Open-source MIT Licensed. <a href="https://github.com/bketelsen/dlx">GitHub</a></p>
    </div>
  </div>
</section>
{{ end }}

{{ define "sidebar-prefooter" }}
<section class="section section-sm">
  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="col-lg-5">
        <h2 class="h4">Lightning Fast ⚡️</h2>
        <p>Provision a new development environment for your project in less than 5 seconds.</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">Your World, Your Rules</h2>
        <p>DLX is infinitely customizable because you create the base image. Use your tools, your way.</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">Cattle And Pets</h2>
        <p>Spin up a temporary development container to test a theory or explore a new tool. Use DLX to create long-lived containers to run services on your network too. How about a k3s cluster in 15 seconds?</p>
      </div>
    </div>
    <div class="row justify-content-center text-center">
      <div class="col-lg-5">
        <h2 class="h4">Works Anywhere</h2>
        <p>The DLX client runs on macOS, Linux, and Windows. Provision your containers from where you want to work, access them anywhere on your network.</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">Battle Tested</h2>
        <p>DLX is a wrapper for LXD, a battle tested container manager.</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">No Limitations</h2>
        <p>Your containers work like virtual machines. Use systemd, install mysql, use Docker.</p>
      </div>
    </div>
  </div>
</section>
{{ end }}

{{ define "sidebar-footer" }}
<section class="section section-sm container-fluid">
  <div class="row justify-content-center text-center">
    <div class="col-lg-9">
      {{- .Content -}}
    </div>
  </div>
</section>
{{ end }}
